@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }
li{ list-style:none; }
a{ text-decoration:none; }
textarea{ resize:none; }
input,select,textarea{ outline:none; }
img,input,select,textarea{ vertical-align:top; }
img{ border:none; }

.fl{ float:left; display:inline; }
.fr{ float:right; display:inline; }
.clearFix:after{ content:''; display:block; clear:both; }
.clearFix{ zoom:1; }

html,body{ min-width:960px; }
body{ font-family:'微软雅黑'; }
.wrapper{ width:960px; margin:0 auto; }
a{ font-size:12px; color:#666; }

























