@charset "utf-8";
/* CSS Document */

.header{ height:28px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; min-width:960px; }
.login{ font-size:12px; color:#666; vertical-align:middle; line-height:28px;  }
.number input,.passward input{ width:103px; height:18px; border:1px solid #ccc; padding-left:2px; }
.login input{  margin-left:10px; margin-top:4px; }
.number{ margin-left:10px; }
.passward{ margin-left:20px; }
.btn_login input,.btn_reg input{ width:46px; height:20px; border:1px solid #ccc; font-family:'微软雅黑'; color:#c82a05; background:url(../images/login_bg.png) repeat-x; font-size:12px; }
.btn_reg input{ width:91px; color:#666; }

.header ul{ padding-right:6px; }
.header li{ float:left; display:inline; padding:0 6px 0 8px; }
.header li a{ display:block; height:28px; line-height:28px; }
.header .col{ width:3px; height:28px; background:url(../images/col.png) no-repeat 0 10px; padding:0; }

.logo_banner{ height:108px; min-width:960px; }
.logo_banner h1{ width:133px; height:72px; background:url(../images/logo.png) no-repeat; text-indent:-9999em; margin:11px 29px 0 9px; }
.banner{ width:787px; height:86px; border:1px solid #ccc; margin-top:10px; }
.banner img{ width:100%; height:100%; }

/* nav */
.nav{ height:74px; background:url(../images/sort_bg.png) no-repeat; }
.nav ul{ padding:0 0 0 11px; }
.nav li{ padding:12px 15px 0 22px; }
.nav h3{ width:20px; font-size:14px; color:#ffd156; margin-top:5px; margin-right:12px; }
.nav_list{ width:180px; }
.nav_list a{ float:left; color:#fff; font-size:12px; margin-right:12px; margin-top:6px;}
.nav .nav_li2{ padding:12px 13px 0 22px; }
.nav_li2 h3{ margin-right:9px; }
.nav_list_w140{ width:145px; }

/* search */
.search{ height:28px; border:1px solid #d8d8d8; border-bottom:none; margin-top:6px; background:url(../images/search_bg.png) repeat-x; font-size:12px; line-height:28px; color:#333; }
.search input,select,textarea{ vertical-align:middle; }
.search_quick{ margin-left:23px; margin-right:10px; }
.sear_txt{ width:124px; height:19px; border:1px solid #c9d8f2; }
.sear_btn{ width:43px; height:21px; border:1px solid #c9d8f2; color:#444; background:url(../images/search_bg1.png) no-repeat; font-size:12px; }
.search_super dl{ position:relative; cursor:pointer; }
.search_super dt{ width:141px; height:19px; border:1px solid #c9d8f2; background:url(../images/select.png) no-repeat right #fff; margin-top:5px; line-height:19px; padding-left:4px; color:#808080; margin-right:10px; }
.search_super dd{ width:145px; height:200px; border:1px solid #e4e4e4; position:absolute; left:0; top:26px; background:#fff; display:none; z-index:9; }
.search_super dl:hover dd{ display:block; }
.search_r{ margin-right:12px; }
.search_r span{ color:#c82a05; }
.search_r a{ color:#333; margin-right:4px; }

.tab{ height:157px; border:1px solid #d8d8d8; background:url(../images/tab_bg.png) repeat-x left bottom; overflow:hidden; }
.tab_btn{ width:100%; height:28px; border-bottom:1px solid #d8d8d8; font-size:12px; color:#666; line-height:28px;background:url(../images/btn_bg.png) repeat-x; }
.tab_btn span{ float:left; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; padding:0 37px;  margin-left:-1px; }
.tab_btn .tab_btn_hot{ padding:0 24px; }
.tab_btn .tab_btn1{}
.tab_btn .tab_btn_last{ border-right:none; width:110px; padding:0 0 0 37px; }
.tab_btn span.on{ color:#f00; font-weight:bold; height:29px; background:#fff; }


/*.sort .aa{ display:none; }
.sort .on{ display:block; }*/
.sort{ margin-top:3px; }
.sort>ul>li{ height:62px; border-bottom:1px dotted #ccc; margin:0 34px; }
.sort h4{ font-size:12px; color:#666; margin-right:31px; line-height:62px; margin-left:-4px;}
.sort i{ width:1px; height:34px; background:#d8d8d8; margin-top:15px; }
.sort_list{margin-right:3px; }
.sort_list li{ line-height:100%; padding:6px 18px; line-height:22px; }
.sort_list p{ text-align:center; }
.sort_list p a{ color:#f00; }
.sort_list_last{ margin-right:0 ;}
.sort_list_last li{ padding-right:0; }

.sort>ul{ display:none; }
.sort>ul.on{ display:block; }

.cont1{ margin-top:9px; }
.cont1_coll{ width:352px; }
.cont1_ad img{ display:block; border:1px solid #ccc; border-bottom:none; }
.tab_ad{ width:348px; height:242px; border:1px solid #e4e4e4; padding:1px; position:relative; }
.tab_ad li a{ display:block; }
.tab_ad_b{ height:26px; background:#dbdbdb; padding-left:9px; }
.tab_ad_b p{ font-size:12px; line-height:26px; color:#010101; font-weight:bold; }
.pos{ position:absolute; right:3px; bottom:3px; }
.pos span{ width:14px; height:18px; border:1px solid #b5c4cc; font-size:12px; text-align:center; line-height:18px; font-weight:bold; color:#3c3c3c; margin-left:3px; background:#fff; }
.pos span.on{ color:#fff; background:#f00; }
.tab_ad li{ display:none; }
.tab_ad li.on{ display:block; }
.car_video{ width:350px; height:157px; border:1px solid #e4e4e4; margin-top:11px; }
.tit{ height:30px; background:url(../images/bg1.png) no-repeat; border-bottom:1px solid #e4e4e4; line-height:30px; }
.tit p{ font-size:14px; font-weight:bold; color:#0168b7; margin-left:10px; }
.tit a{ margin-right:14px; color:#0168b7; font-size:12px; }
.car_video ul{ padding:8px 0 0 10px; }
.car_video li{ width:105px; text-align:center; margin-right:5px; font-size:12px; }

.bbs{ height:336px; border:1px solid #e4e4e4; margin-top:11px; }
.list_t{ padding:0 16px 0 18px; }
.list_t li{ height:99px; border-bottom:1px dotted #e4e4e4; padding-top:13px;}
.list_t li img{ border:1px solid #e4e4e4; padding:1px; }
.list_t li div{ width:192px; font-size:12px; line-height:24px; margin-top:-6px; color:#666; margin-left:14px; }
.list_t li div a{ color:#f00; }
.list_b{ padding-left:18px; padding-top:4px; font-size:12px; line-height:24px; }
.list_b a{ color:#666;}
.list_b li{ background:url(../images/icon1.png) no-repeat left; padding-left:6px; }
.list_b .red{ background:url(../images/icon2.png) no-repeat left; padding-left:6px; }
.list_b .red .a1{ color:#f00; }

.cont1_colc{ width:359px; margin-left:10px; }
.cont1_colc_t{ width:357px; height:448px; border:1px solid #e4e4e4; background:url(../images/bg2.png) no-repeat; position:relative; }
.pos_news{ width:48px; height:54px; background:url(../images/news.png) no-repeat; position:absolute; left:0; top:0; }
.news_hd{ height:132px; border-bottom:1px dotted #e4e4e4; margin:0 18px; }
.news_hd li{ font-size:12px; color:#666; text-align:center; padding:12px 0 8px 0; }
.news_hd a{ color:#666; }
.news_hd h4{ margin-bottom:2px; font-size:16px; color:#f00; }

.news_bt{ height:112px; padding-left:19px; }
.news_bt div{ width:184px; margin-left:10px; margin-top:18px;}
.news_bt img{ margin-top:22px;}
.news_bt h5{ font-size:14px; color:#f00; }
.news_bt p{ color:#666; font-size:12px; line-height:22px;}
.news_b ul{ padding-left:18px; }
.news_b li{ height:24px; background:url(../images/icon1.png) no-repeat left; padding-left:12px; }
.news_b li a{ font-size:13px; line-height:24px; }
.news_b .red{ background:url(../images/icon2.png) no-repeat left; padding-left:12px; }
.news_b .red a{ color:#f00; }

.cont1_colc_b{ width:357px; height:336px; border:1px solid #e4e4e4; margin-top:11px; }
.tit_ot{ height:30px; border-bottom:1px solid #e4e4e4; background:url(../images/bg3.png) no-repeat; line-height:30px; }
.tit_ot p{ font-size:14px; font-weight:bold; color:#0168b7; margin-left:12px; }
.tit_ot ul{ overflow:hidden; margin-right:6px; }
.tit_ot li{ height:14px; padding:8px 0; margin-left:-1px; }
.tit_ot a{ display:block; height:12px; color:#0168b7; line-height:100%; border-left:1px solid #0168b7; padding:0 8px; }

.cont1_colc_b_li{ padding-left:14px; padding-top:6px; }
.cont1_colc_b_li li{ height:24px; line-height:24px; background:url(../images/icon1.png) no-repeat left; padding-left:11px; }
.cont1_colc_b_li li a{ font-size:13px; }
.cont1_colc_b_li .red{ background:url(../images/icon2.png) no-repeat left; padding-left:11px; }
.cont1_colc_b_li .red a{ color:#f00; }


.cont1_colr{ width:229px; margin-left:10px; }
.cont1_colr_ad img{ border:1px solid #e4e4e4; padding:1px; }
.car_select{ height:317px; width:227px; border:1px solid #e4e4e4; margin-top:10px; }
.tit3{ background:url(../images/bg5.png) no-repeat; }
.car_select ul{ margin-top:5px; padding-left:13px; }
.car_select li{ height:24px; line-height:24px; background:url(../images/icon1.png) no-repeat left; padding-left:15px; }
.car_select li a{ display:inline-block; margin-right:8px; }
.cont1_colr_b{ width:227px; height:336px; border:1px solid #e4e4e4; margin-top:11px; }
.cont1_colr_b_l1 li{ height:78px; border-bottom:1px dotted #e4e4e4; margin:0 16px; padding-top:13px; }
.cont1_colr_b_l1 li img{ border:1px solid #e4e4e4; padding:1px; margin-right:15px; }
.cont1_colr_b_l1 li h5{ font-size:14px; margin-bottom:6px; }
.cont1_colr_b_l1 li p{ margin-bottom:6px; }
.cont1_colr_b_l1 li span{ color:#999; }

.cont1_colr_b_l2{ padding-left:16px; margin-top:5px; }
.cont1_colr_b_l2 li{ height:21px; line-height:21px; background:url(../images/icon1.png) no-repeat left; padding-left:14px; }

.ad_all{ display:block; margin:10px 0; }

.tit_hd{ height:36px; background:url(../images/bg6.png) no-repeat; }
.tit_hd h4{ font-size:14px; color:#fff; margin-left:44px; line-height:36px; }
.tit_hd ul{ margin-right:50px; overflow:hidden; }
.tit_hd li{ height:12px; padding:12px 0; margin-left:-1px; }
.tit_hd a{ display:block; height:12px; color:#164a84; line-height:100%; border-left:1px solid #164a84; padding:0 8px; }


.cont2_coll{ width:352px; margin-top:10px; }
.cont2_coll_t{ width:350px; height:228px; border:1px solid #e4e4e4; text-align:center; }
.cont2_coll_t a{ display:block; width:100%; height:100%; }
.cont2_coll_t img{ display:block; padding:1px; }
.cont2_coll_t p{ height:32px; line-height:32px; font-size:14px; color:#333; font-weight:bold; }
.cont2_coll_b{ height:164px; border:1px solid #e4e4e4; border-top:2px solid #164a84; margin-top:10px; }
.tit4{ background:url(../images/tit4_bg.png) no-repeat; border-bottom:none;}
.cont2_coll_b ul{ padding:3px 12px 0 10px; }
.cont2_coll_b li{ background:url(../images/li.png) no-repeat left; padding-left:9px; height:22px; line-height:22px; }
.cont2_coll_b li span{ color:#888; }

.cont2_colc{ width:359px; margin-left:10px; margin-top:10px; }
.cont2_colc_t{ width:357px; height:228px; border:1px solid #e4e4e4; overflow:hidden; }
.tit5{ background:url(../images/bg3.png) no-repeat; }
.cont2_colc_li{ padding:2px 0 0 10px; }
.cont2_colc_li li{ background:url(../images/li.png) no-repeat left; padding-left:9px; height:24px; line-height:24px; }
.cont2_colc_li li a{ font-size:13px; }
.cont2_colc_li .red{ background:url(../images/li_red.png) no-repeat left; padding-left:9px; }
.cont2_colc_li .red a{ color:#f00; }

.cont2_colc_b{ width:357px; height:165px; border:1px solid #e4e4e4; margin-top:10px; }
.space4{ margin-top:4px; }

.cont2_colr{ width:227px; height:404px; margin-left:10px; margin-top:11px; border:1px solid #e4e4e4; }
.paihang{ padding-left:14px; padding-right:12px; }
.paihang li{ border-bottom:1px dotted #e4e4e4; }
.paihang_s{ height:34px; font-size:12px; }
.paihang_s i{ width:13px; height:13px; background:#f1f0f4; border:1px solid #dbdbdb; font-style:normal; text-align:center; line-height:13px; color:#33335e; border-radius:2px; margin-top:10px; }
.paihang_s span{ line-height:34px; margin-left:10px; color:#666; }

.paihang_b{ height:74px; background:#f2f4f8; padding-top:10px; border-top:1px dotted #e4e4e4; }
.paihang .paihang_b{ display:none; }
.paihang .show{ display:block; }
.paihang_b p{ width:96px; font-size:12px; color:#25447b; line-height:20px; margin-left:9px; }
.paihang_b a{ color:#c00; }
.paihang_b img{ border:1px solid #e4e4e4; padding:2px;}


.daogou_btn{ height:28px; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; background:url(../images/tab_bg2.png) repeat-x; padding-left:8px;font-size:12px; line-height:28px; color:#666; }
.daogou_btn span{ padding:0 10px; }
.daogpu_tab li{ width:242px; }
.daogpu_tab li>a{ width:100px; height:97px; background:#eff3fc; padding:6px 5px 0; text-align:center; }
.daogpu_tab li p{ height:22px; line-height:22px; }
.daogpu_tab ul{ height:104px; border:1px solid #e4e4e4; padding:4px 0 0 16px; }
.car_list{ margin-left:17px; }
.car_list a{ display:block; height:24px; line-height:24px; color:#666; }
.daogpu_tab .car_li{ width:210px; }
.daogpu_tab ul{ display:none; }
.daogpu_tab ul.show{ display:block; }

.daogou_l{ width:350px; margin-top:10px; border:1px solid #e4e4e4; height:261px;}

.tit6{ background:url(../images/tit6_bg.png) repeat-x 0 1px; }
.daogou_l ul{ padding:7px 0 0 17px; }
.daogou_l li{ height:24px; line-height:24px; background:url(../images/li.png) no-repeat left; padding-left:13px; }
.daogou_l ul .red{ background:url(../images/li_red.png) no-repeat left; padding-left:13px; }
.daogou_l ul .red a{ color:#f00; }

.daogou_c{ width:357px; margin-left:10px; margin-top:10px;border:1px solid #e4e4e4; height:261px; }
.daogou_c ul{ padding:8px 0 0 17px; }
.daogou_c li a{ font-size:14px; }
.daogou_c li{ height:24px; line-height:24px; background:url(../images/li.png) no-repeat left; padding-left:13px; }
.daogou_c ul .red{ background:url(../images/li_red.png) no-repeat left; padding-left:13px; }
.daogou_c ul .red a{ color:#f00; }

.daogou_r{ width:227px; margin-left:10px; margin-top:10px; border:1px solid #e4e4e4; height:261px; }

.ditu iframe{ width:227px; height:231px; background:url(../images/ditu.png) no-repeat; }

.friendLink{ height:125px; border:1px solid #e4e4e4; margin-top:10px; }
.friendLink_tit{ height:31px; background:url(../images/link_bg.png) repeat-x; line-height:31px; }
.friendLink_tit p{ color:#0168b7; font-size:14px; margin-left:18px; font-weight:bold; }
.friendLink_tit a{ margin-right:17px; }
.friendLink_con p{ font-size:12px; line-height:24px; }
.friendLink_con{ margin-top:10px; margin-left:19px; }
.friendLink_con span{ margin:0 3px; color:#666; }
.friendLink_con a.red{ color:#f00; }

.footer{ margin-top:10px; min-width:960px; }
.about{ height:30px; background:#343f88; text-align:center; font-size:12px; color:#fff; line-height:30px;  }
.about p{ display:inline-block; vertical-align:top; overflow:hidden; }
.about a{ display:inline-block; color:#fff; padding:0 16px; border-left:1px dotted #fff; height:12px; line-height:12px; margin-left:-1px; }
.footer_b{ font-size:12px; line-height:22px; text-align:center; margin-top:24px; }
.icon{ padding:0 65px; margin-top:-36px; }
.icon span{ width:1px; height:45px; background:url(../images/col1.png) no-repeat; margin:0 5px; }
.iconr span{ margin:0 8px;}
.footer_b{ height:88px; }






